:root {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.draggable {
    cursor: grab;
    touch-action: none;
    user-select: none;

    &.dragging {
        cursor: grabbing;
    }
}

.dragging {
    cursor: grabbing;
}

svg {
    background: whitesmoke;
    width: 100svw;
    height: 100svh;
    touch-action: none;

    .cajita {
        stroke: black;
        fill: white;
    }

    .flechita {
        stroke: black;
        stroke-width: 2;
    }
}
